<body class="splash">

<div class="welcome-descript">
  <hr>
  Welcome in the system for interactive learning
  <div class="start-button">
    start lesion
  </div>
  <br>
  <div class="start-button">
    Login
  </div>
  <br>
  <div class="start-button">
    Register
  </div>

</div>



</body>