<div class="nav-wrapper">

<div class="nav-com-name">
  <%= image_tag("learn-icon.png", :class => "img-com", :alt => "image", :width => 40, :height => 40, :title => "Click here") %>
    <strong>Learn Easy</strong>
</div>


  <div class="nav-buttons">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
</div>

<br>



