<div class="nav-wrapper">

<div class="nav-com-name">
  <%= image_tag("learn-icon.png", :class => "img-com", :alt => "image", :width => 40, :height => 40, :title => "Click here") %>
    <strong>Learn Easy</strong>
</div>


  <div class="nav-buttons">
    <ul>
      <li><a href="/home/index">HOME</a></li>
      <li>ABOUT</li>
      <li>CONTACT</li>
    </ul>
  </div>
  <div class="h_line"></div>
</div>
<br>



