<style>
    *{
        margin: 0px;
        padding: 0px;
    }

    #header {width: 100%;height: 100px; }
    #navbar {width: 1000px;  height: 100px;  float: right;}
    #navbar>li {width: 160px;  list-style: none;  float:left; }
    #user-section>li{ width: 80px;  padding-right: 120px; list-style: none;  float:right; }

    li>a{display: block;  color: black;  line-height: 100px;  text-align: center;  font-family: cursive;  font-size:20px;  text-decoration:none;}
    li>a:hover { color: #333;}
    li>a:hover,
    li>a:focus{background:#F7F7F7 ; color: #333}


    #logo {padding-left: 40px ;  width: 200px;  height: 80px;  float: left;  }
    #logo img {  width: 350px;  height: 70px;  float: left; padding-top: 10px;  }

    @media screen and (max-width:1260px )  {
        #navbar {width: 800px;}
        #navbar>li { width: 150px;}
        #logo { padding-left: 40px ;  width: 200px;  height: 80px;  float: left;  }
        #logo>img {height: 80px;  }
    }

    @media screen and (max-width:1060px )  {
        #header {width: 100%; height: 60px; position: relative; top:80px;  }
        #navbar {width: 100%;  height: 60px;  float: right; }
        #navbar>li {width: 18%;}
        li>a{line-height: 60px; font-size:16px; }
        #logo {width: 200px; height: 80px;  float: left; padding-left: 40px; position: absolute; top:-80px; }
        #logo img {width: 150px; height: 80px;  float: left; }
    }

    @media screen and (max-width: 480px) {
        #header {width: 100%; height: 60px; }
        #navbar {width: 100%;  height: 60px; float: none}
        #navbar>li {width: 100%; list-style: none; float: none; border-bottom: 1px solid skyblue; }
        li>a{display:block; color:white; line-height: 60px; font-size:16px; background: black; }
    }




</style>
    <div id="header">

          <div id="logo">
            <%= image_tag('logo_site.png')%>
          </div>

      <ul id="user-section" >
        <li><a href="#news">login </a></li>
        <li><a href="#news">logout</a></li>
      </ul>
      <ul id="navbar">
            <li><a href="#home"><b>HOME</b></a></li>
            <li><a href="#news"><b>COURSES</b></a></li>
            <li><a href="#news"><b>FEATURES</b></a></li>
            <li><a href="#news"><b>FEATURES</b></a></li>
      </ul>


    </div>