<div id="header">

      <div id="logo">
        <a href="/"><%= image_tag('logo_site.png')%></a>
      </div>

  <ul id="navbar">
        <li class="nav-button"><a href="#"><b>HOME</b></a></li>
        <li class="nav-button"><a href="/view_lessons"><b>LESSONS</b></a></li>
        <li class="nav-button"><a href="#"><b>FEATURES</b></a></li>
        <li class="nav-button"><a href="#"><b>CONTACT</b></a></li>

        <% if user_signed_in? && current_user.role == "super_admin" %>
            <li class="nav-button"><a href="/admin"><b>ADMIN</b></a></li>
        <% end %>

  <ul id="nav-user-section" >
    <% if user_signed_in?%>
        <li class="user-section"><a><%= current_user.email %></a></li>
        <li class="user-section"><%= link_to "Sing out", destroy_user_session_path, method: :delete %></li>
    <% else%>
        <li class="user-section"><%= link_to "Sing in", new_user_session_path %></li>
    <% end %>
  </ul>
  </ul>
</div>