<div id="wrapper-table-words">
  <div class="main-grid">
      <% @courses.each do |cours| %>
          <div class="cours-box">
            <a href="/courses/<%= cours.id %>">
              <%= image_tag('LanguageBooks.jpg') %>
              <p class="title"><%= cours.name_lesion %></p>
              <p class="description"><%= cours.description %></p>
            </a>
          </div>
      <% end %>
    </div>
</div>