<div id="wrapper-table-words">

  <% words = @admin_word_lesions %>
  <% index = rand(words.length) %>
  <div id="search-form">
    <h1>
      <div id="view-text" onclick="view_translations()"><%= words[index].bg_word %></div>
    </h1>

    <div id="view-text-hidden">
      <%= words[index].en_word %>
    </div>

    <div class="img-words"><img src="<%= words[index].img_word %>"/></div>

    <input class="text-field" type="text" id="enter-text" placeholder="Enter translation" autofocus/>

    <div>
      <br>
      <button class="common-button" for="enter-text" onclick="check_text()">Check</button>
      <div id="text-message"></div>
    </div>

    <br>

    <div>
      <a class="exercise-button" href="/courses/<%= @courses_id %>/exercise_en">Exercise
        EN => BG</a>
    </div>

  </div>
</div>