.nav-wrapper
{
}

.img-com img
{
  margin-top:4px;
}
.nav-com-name
{
  width:40%;
  float: left;
  font-size: 40px;
  color: #F7F7F7;
}
.nav-buttons
{

  width:59%;
  float: left;
}

.nav-buttons ul li
{
  padding: 3px;
  display:inline;
  font-size: 21px;
  color: #F7F7F7;
}
.nav-com-name, .nav-buttons
{
  display:inline;
}
.hline { width:100%; height:1px; background: #fff }