#wrapper-table-words
{
  background-color: white;
  margin: 0 auto;
  margin-top: 5%;
  width: 70%;
  padding: 10px;
  box-shadow: 0px 0px 5px #868888;
}

.cours-box{
  display: inline-block;
  width: 320px;
  height: 500px;
  margin:2%;
  border: solid 1px;
  text-align: center;
}

.cours-box>a>img{
  width: 98%;
}

p.title{
  text-decoration: none;
  padding: 10px;
}

p.description{
  padding: 10px;
}

#heading-courses{
  text-align: center;
  margin: 30px;
}

#search-form{
  margin: 30px;
  text-align: center;
}

.play-icon img
{
  width: 35px;
}

.second-word
{
  text-align: center;
  padding: 15px;
  font-size: 150%;
}

summary
{
  width: 1300px;
  color: #666666;
  padding: 5px;
  font-size: 150%;
  outline: none;
}

strong.parsts-of{
  font-size: 20px;
  padding-left: 100px;
}
#edit-link
{
  float: right;
}

summary:hover {
  color: #00cccc;

}

tr:nth-child(even)
{
  background-color: #eeeeee;
}
summary strong{
  text-align: right;
}
.play-buttons
{
  top: 50px;
  margin: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  float: left;
  font-weight: 900;
  font-size: 12px;
  padding: 18px;
  margin: 5px;
  width: 150px;
  border-radius: 15px;
  margin-left: 300px;
}

#play-butt
{
  background-color:#01A2A6;
}

#stop-butt
{
  background-color: #FE5D59;
}

input[type="text"],select {

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 20%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
.common-button,
input[type="button"],
input[type="submit"]{
  background: #2A88AD;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
  font-size: 15px;
}

input[type="button"]:hover,
input[type="submit"]:hover{
  background: #2A6881;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

a.exercise-button:link, a.exercise-button:visited {

  background-color: #FFAB68;
  color: white;
  padding: 14px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}


a.exercise-button:hover, a.exercise-button:active {
  background-color: #FFAB68;
}

#view-text-hidden {
  font-size: 30px;
  visibility: hidden;
}
div.img-words img{
  max-width: 300px;
}

.text-field{
  text-align: center;
  font-size: 24px;
  background-color: #FFF7DF;
  width: 800px;
  height: 50px;
}