.splash
{
  background-image: image-url("hero5.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#welcome-descript
{
  text-align: center;
  padding: 20px;
  color: #F7F7F7;
  font-weight: bold;
  font-size: 500%;
  margin-top: 20%;
  text-align: center;
}

.start-button
{
  width: 150px;
  border: solid 1px;
  border-radius: 2px;
}