<div class="container">
  <div id="view-translate" onclick="">
    <a href="/conversation/1" class="btn btn-info">Back</a>
  </div>
  <div class="" id="panel">
    <h3><span id="sentence_error"></span></h3>
    <form>
      <% eval(@lesson.sentences).each do |bg, en| %>
          <div class="group">
            <input class="field-value" type="text" autofocus required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>
              <%= en %>
              <span id="sentece-hidden">  -  <%= bg %></span>
              <span id="result-mesage"></span></label>
              </div>
      <% end %>
      <div class="group">
        <center> <button type="submit" class="btn btn-warning"> <span class="glyphicon glyphicon-send"></span></button></center>
      </div>
    </form>
  </div>
</div>

<script>
    $('.field-value').change(function(){
        var parent_obj = $(this).parent();
        var hidden_obj = parent_obj.find('#sentece-hidden')
        var message_text = parent_obj.find('#result-mesage')
        var translate_text = hidden_obj.html();
        var ready_text = translate_text.replace(/-/i, "").trim();
        var input_text = $(this).val();

        if (ready_text == input_text){
            hidden_obj.css('visibility', 'visible');
            message_text.html('[ Exelent! ]');
        }else{
            hidden_obj.css('visibility', 'visible');
            message_text.html('[ Wrong! ]').css('color', 'red')
            var sentence_error = $('#sentence_error');
            //sentence_error.html();
            sentence_error.html(input_text);
            var different = ready_text.replace(input_text, '')
            console.log('result='+different)
            $(this).val('');
            $(this).focus()
        }
    });
</script>
